@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h2 class="display-4">Contact</h2>
    <p>Send me an email <a href="https://www.weber.edu/">my education at Weber State</a>.</p>
    <p>Lets add a message form for contact here!</p>
</div>