@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>Learn about <a href="https://www.weber.edu/">my education at Weber State</a>.</p>
</div>
