@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <center>
        <h1 class="display-4">Hello, I'm Zach!</h1>
        <img src="/images/ZachHat_Crop.jpg" alt="ZachHat" class="card profimg img-responsive center-block"/>
    </center>
</div>
<body>
    <div class="card">
        <h1>About</h1>
        <p class="about">I love gaming!
            Lets put this and the "Hello" up above by my picture, with a list of
            what I'm currently Working on</p>
    </div>

    <!-- The Education Div Group -->
    <div class="card education">
    <h1>Education</h1>
    <div class="card-columns">
            <div class="accordion">

                <div class="accordion-item hoverpop">
                    <h2 class="accordion-header" id="h-1">
                        <button class="accordion-button collapsed major" type="button" data-bs-toggle="collapse" data-bs-target="#c-1" aria-expanded="false" aria-controls="c-1">
                            Associate's of Science - University Studies
                        </button>
                    </h2>
                    <div id="c-1" class="accordion-collapse collapse" aria-labelledby="h-1">
                        <div class="accordion-body">
                            <h6 class="uvu">Utah Valley University</h6><h6>Orem, Utah</h6>
                            <h6>Graduated</h6>
                            <h7>Jan 2014 - April 2020</h7>
                            <p>Gained Associate-level education through Utah Valley University. During this time I took a large number of varied courses,
                                looking for a "best fit" for what I intended to do with my career.
                            </p>
                             <p><a href="https://www.uvu.edu/catalog/current/departments/student-leadership-and-success-studies/university-studies-as/">Link to full degree</a></p>
                        </div>
                    </div>
                </div>


                <div class="accordion-item hoverpop">
                    <h2 class="accordion-header" id="h-2">
                        <button class="accordion-button collapsed major" type="button" data-bs-toggle="collapse" data-bs-target="#c-2" aria-expanded="false" aria-controls="c-2">
                            Associate's of Applied Science - Computer Science
                        </button>
                    </h2>
                    <div id="c-2" class="accordion-collapse collapse" aria-labelledby="h-2">
                        <div class="accordion-body">
                            <h6 class="wsu">Weber State University</h6>
                            <h6>Ogden, Utah</h6>
                            <h6>Graduated: Honors</h6>
                            <h7>April 2020 - August 2021</h7>
                            <p>Gained Associate-level education through Utah Valley University. During this time I took a large number of varied courses,
                                looking for a "best fit" for what I intended to do with my career.
                            </p>
                            <p><a href="https://catalog.weber.edu/preview_program.php?catoid=18&poid=8726&returnto=6245">Link to full degree</a></p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item hoverpop">
                    <h2 class="accordion-header" id="h-3">
                        <button class="accordion-button collapsed major" type="button" data-bs-toggle="collapse" data-bs-target="#c-3" aria-expanded="false" aria-controls="c-2">
                            Certificate of Game Development
                        </button>
                    </h2>
                    <div id="c-3" class="accordion-collapse collapse" aria-labelledby="h-3">
                        <div class="accordion-body">
                            <h6 class="wsu">Weber State University</h6>
                            <h6>Ogden, Utah</h6>
                            <h6>Graduated</h6>
                            <h7>August 2021 - August 2022</h7>
                            <p>Gained Associate-level education through Utah Valley University. During this time I took a large number of varied courses,
                                looking for a "best fit" for what I intended to do with my career.
                            </p>
                            <p><a href="https://catalog.weber.edu/preview_program.php?catoid=19&poid=9279&returnto=6775">Link to full degree</a></p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item hoverpop">
                    <h2 class="accordion-header" id="h-4">
                        <button class="accordion-button collapsed major" type="button" data-bs-toggle="collapse" data-bs-target="#c-4" aria-expanded="false" aria-controls="c-2">
                            Bachelor's of Science - Computer Science
                        </button>
                    </h2>
                    <div id="c-4" class="accordion-collapse collapse" aria-labelledby="h-4">
                        <div class="accordion-body">
                            <h6 class="wsu">Weber State University</h6>
                            <h6>Ogden, Utah</h6>
                            <h6>Graduated: Magna Cum Laude</h6>
                            <h7>August 2021 - August 2022</h7>
                            <p>Gained Associate-level education through Utah Valley University. During this time I took a large number of varied courses,
                                looking for a "best fit" for what I intended to do with my career.
                            </p>
                            <p><a href="https://catalog.weber.edu/preview_program.php?catoid=19&poid=9278&returnto=6775">Link to full degree</a></p>
                        </div>
                    </div>
                </div>

            </div>
    </div>
</div>

    <div class="card">
        <h1>Resume</h1>
        <p class="about">Download .PDF version <a href="/images/Zach Moss Resume.pdf" download>here</a></p>
    </div>




</body>
<style>
    body {
        background-image: linear-gradient(180deg, white, teal);
    }
</style>