@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
}
<div class="text-center">
    <h2 class="display-4">Projects</h2>
    <p>Button for Categorizing, like "By Skill" or "By Theme" maybe</p>
    <p>Card Setup, or just sections? "School", "Gameplay Programming", "Graphics", with github links</p>
</div>