html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(180deg, white, teal);
}

.display-4{
    font-weight: bold;
    color: teal;
}

body {
    background-color: teal;
}

footer {
    background-color: white;
}

.profimg{
    width: 300px;
    border-radius: 50%;
    transition: transform .2s;
}

.profimg:hover {
    transform: scale(1.15)
}

.edulist li{
    font-size: larger;
    color:teal;
}

.about {
    font-size: larger;
    color:teal;
}

.card {
    padding:5px;
    margin:10px;
}